.container{
  width:300px;
  height: auto;
  margin-left: auto;
  margin-top: 550px;
  padding: 15px 18px;  
  margin-right: auto;
  margin-top: 90px;
  background-color: rgb(4, 53, 128);
  border: 1px solid black;
}
body{
  background: linear-gradient(140deg,rgb(16, 58, 173),rgb(98, 214, 243));
}
.calc{
  padding: 50px 20px;
  border-width: 1px;
  border-radius: 5px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(17, 142, 226);
}
form input{
  border:1px;
  outline: 1;
  width: 60px;
  height: 60px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-collapse: 1px ;
  color: black;
  margin:1px;
  font-weight: bolder;
  cursor: pointer;
}
form input[type=button]:hover{
  background-color: rgb(240, 116, 178);
}
form.display{
  
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input[type=text]{

 text-align: right;
 width: 250px;
 font-size: 20px;
 color: white;
 height: 40px;
 background-color: black;
  margin: 5px 0px;
}
form input.equal{
  width: 122px;
}
h1{
 
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
  margin: 5px 0px;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}